@charset 'UTF-8';
/*! olex v2.0.0| MIT License | https://github.com/hilosiva/olexcss */

/* ============================================
  Olex - Ore no Flexible CSS Grid System
============================================ */

/*
 Settings
--------------------------------- */
// Grid Column
$column: 12;

// Gutter Size
$gutters: (
  "small": 1vw,
  "normal": 3vw,
  "large": 5vw,
) !default;

// Breakpoints
$breakpoints: (
  "tab": "(min-width: 768px)",
  "lap": "(min-width: 1024px)",
  "desk": "(min-width: 1200px)",
) !default;

/*
  Base
--------------------------------- */
/*
  <div class="olex">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item">C</div>
  </div>
*/

.olex {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

/*
  Direction
--------------------------------- */
/*
  <div class="olex" data-dir="reverse">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item">C</div>
  </div>
*/

.olex {
  &[data-dir="normal"] {
    flex-direction: row;
  }
  &[data-dir="reverse"] {
    flex-direction: row-reverse;
  }
}

/*
  Alignment
--------------------------------- */
/*
  <div class="olex" data-align="center">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item" data-align="end middle">C</div>
  </div>
*/

.olex {
  &[data-align~="start"] {
    justify-content: flex-start;
  }

  &[data-align~="center"] {
    justify-content: center;
  }

  &[data-align~="end"] {
    justify-content: flex-end;
  }

  &[data-align~="justify"] {
    justify-content: space-between;
  }

  &[data-align~="top"] {
    align-items: flex-start;
  }

  &[data-align~="middle"] {
    align-items: center;
  }

  &[data-align~="bottom"] {
    align-items: flex-end;
  }

  &__item {
    &[data-align~="start"] {
      align-items: flex-start;
    }

    &[data-align~="center"] {
      align-items: center;
    }

    &[data-align~="end"] {
      align-items: flex-end;
    }

    &[data-align~="top"] {
      justify-content: flex-start;
    }

    &[data-align~="middle"] {
      justify-content: center;
    }

    &[data-align~="bottom"] {
      justify-content: flex-end;
    }
  }
}

/*
  Grid
--------------------------------- */
/*
  <div class="olex" data-gutter="normal">
    <div class="olex__item" data-grid="sp12 tab4 lap6">A</div>
    <div class="olex__item" data-grid="sp6 tab4 lap3">B</div>
    <div class="olex__item" data-grid="sp6 tab4 lap3">C</div>
  </div>
*/
.olex {
  &[data-gutter] {
    width: auto;

    & > .olex__item {
      border: solid transparent;
      background-clip: padding-box;
    }
  }

  @each $key, $val in $gutters {
    &[data-gutter="#{$key}"] {
      margin: -($val / 2);

      & > .olex__item {
        border-width: ($val / 2);
      }
    }
  }

  &__item {
    @for $i from 1 through $column {
      &[data-grid~="sp#{$i}"] {
        width: percentage($i / $column);
      }
    }

    &[data-grid~="spFive"] {
      width: 20%;
    }
  }
}

@each $key, $val in $breakpoints {
  @media screen and #{$val} {
    .olex {
      &__item {
        @for $i from 1 through $column {
          &[data-grid~="#{$key + $i}"] {
            width: percentage($i / $column);
          }
        }

        &[data-grid~="#{$key}Five"] {
          width: 20%;
        }

        &[data-grid~="#{$key}Auto"] {
          width: auto;
        }
      }
    }
  }
}
