@charset 'UTF-8';
/*! olex v2.0.0| MIT License | https://github.com/hilosiva/olexcss */

/* ============================================
  Olex - Ore no Flexible CSS Grid System
============================================ */

/*
 Settings
--------------------------------- */
$column: 12; // グリッド数の設定

$gutter-minsp: 8px; // 小さいスマホ時の間隔
$gutter-sp: 16px; // スマホ時の間隔
$gutter-tab: 24px; // タブレット時の間隔
$gutter-lap: 32px; // ラップトップ時の間隔
$gutter-desk: 40px; // デスクトップ時の間隔

/*
  Base
--------------------------------- */
/*
  <div class="olex">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item">C</div>
  </div>
*/

.olex {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

/*
  Direction
--------------------------------- */
/*
  <div class="olex" data-dir="reverse">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item">C</div>
  </div>
*/

.olex {
  &[data-dir="normal"] {
    flex-direction: row;
  }
  &[data-dir="reverse"] {
    flex-direction: row-reverse;
  }
}

/*
  Alignment
--------------------------------- */
/*
  <div class="olex" data-align="center">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item" data-align="end middle">C</div>
  </div>
*/

.olex {
  &[data-align~="start"] {
    justify-content: flex-start;
  }

  &[data-align~="center"] {
    justify-content: center;
  }

  &[data-align~="end"] {
    justify-content: flex-end;
  }

  &[data-align~="justify"] {
    justify-content: space-between;
  }

  &[data-align~="top"] {
    align-items: flex-start;
  }

  &[data-align~="middle"] {
    align-items: center;
  }

  &[data-align~="bottom"] {
    align-items: flex-end;
  }

  &__item {
    &[data-align~="start"] {
      align-items: flex-start;
    }

    &[data-align~="center"] {
      align-items: center;
    }

    &[data-align~="end"] {
      align-items: flex-end;
    }

    &[data-align~="top"] {
      justify-content: flex-start;
    }

    &[data-align~="middle"] {
      justify-content: center;
    }

    &[data-align~="bottom"] {
      justify-content: flex-end;
    }
  }
}

/*
  Grid
--------------------------------- */
/*
  <div class="olex" data-gutter="normal">
    <div class="olex__item" data-grid="sp12 tab4 lap6">A</div>
    <div class="olex__item" data-grid="sp6 tab4 lap3">B</div>
    <div class="olex__item" data-grid="sp6 tab4 lap3">C</div>
  </div>
*/
.olex {
  &[data-gutter] {
    width: auto;

    & > .olex__item {
      border: solid transparent;
      background-clip: padding-box;
    }
  }

  &[data-gutter="small"] {
    margin: -($gutter-minsp / 2);

    & > .olex__item {
      border-width: ($gutter-minsp / 2);
    }
  }

  &[data-gutter="normal"] {
    margin: -($gutter-sp / 2);

    & > .olex__item {
      border-width: ($gutter-sp / 2);
    }
  }

  &[data-gutter="large"] {
    margin: -($gutter-tab);

    & > .olex__item {
      border-width: ($gutter-tab);
    }
  }

  &[data-gutter="spNone"] {
    margin: 0;
    & > .olex__item {
      border-width: 0;
    }
  }

  &__item {
    @for $i from 1 through $column {
      &[data-grid~="sp#{$i}"] {
        width: percentage($i / $column);
      }
    }

    &[data-grid~="spFive"] {
      width: 20%;
    }
  }
}

@media screen and (min-width: 768px) {
  .olex {
    &[data-gutter="small"] {
      margin: -($gutter-minsp / 2);

      & > .olex__item {
        border-width: ($gutter-minsp / 2);
      }
    }

    &[data-gutter="normal"] {
      margin: -($gutter-tab / 2);

      & > .olex__item {
        border-width: ($gutter-tab / 2);
      }
    }

    &[data-gutter="large"] {
      margin: -($gutter-tab);

      & > .olex__item {
        border-width: ($gutter-tab);
      }
    }

    &__item {
      @for $i from 1 through $column {
        &[data-grid~="tab#{$i}"] {
          width: percentage($i / $column);
        }
      }

      &[data-grid~="tabFive"] {
        width: 20%;
      }

      &[data-grid~="tabAuto"] {
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .olex {
    &[data-gutter="small"] {
      margin: -($gutter-sp / 2);

      & > .olex__item {
        border-width: ($gutter-sp / 2);
      }
    }

    &[data-gutter="normal"] {
      margin: -($gutter-lap / 2);

      & > .olex__item {
        border-width: ($gutter-lap / 2);
      }
    }

    &[data-gutter="large"] {
      margin: -($gutter-lap);

      & > .olex__item {
        border-width: ($gutter-lap);
      }
    }

    &__item {
      @for $i from 1 through $column {
        &[data-grid~="lap#{$i}"] {
          width: percentage($i / $column);
        }
      }

      &[data-grid~="lapFive"] {
        width: 20%;
      }

      &[data-grid~="lapAuto"] {
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .olex {
    &[data-gutter="small"] {
      margin: -($gutter-sp / 2);

      & > .olex__item {
        border-width: ($gutter-sp / 2);
      }
    }
    &[data-gutter="normal"] {
      margin: -($gutter-desk / 2);

      & > .olex__item {
        border-width: ($gutter-desk / 2);
      }
    }

    &[data-gutter="large"] {
      margin: -($gutter-desk);

      & > .olex__item {
        border-width: ($gutter-desk);
      }
    }

    &__item {
      @for $i from 1 through $column {
        &[data-grid~="desk#{$i}"] {
          width: percentage($i / $column);
        }
      }

      &[data-grid~="deskFive"] {
        width: 20%;
      }

      &[data-grid~="deskAuto"] {
        width: auto;
      }
    }
  }
}
