@charset 'UTF-8';
/*! olex v2.1.0| MIT License | https://github.com/hilosiva/olexcss */

/* ============================================
  Olex - Ore no Flexible CSS Grid System
============================================ */

/*
 Settings
--------------------------------- */
// Grid Column
$column: 12;

// Gutter Size
$gutters: (
  small: 1vw,
  normal: 2vw,
  large: 3vw,
) !default;

// Breakpoints
$breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

/*
  Base
--------------------------------- */
/*
  <div class="olex">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item">C</div>
  </div>
*/

.olex {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

/*
  Direction
--------------------------------- */
/*
  <div class="olex" data-dir="reverse">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item">C</div>
  </div>
*/

.olex {
  &[data-dir="normal"] {
    flex-direction: row;
  }
  &[data-dir="reverse"] {
    flex-direction: row-reverse;
  }
}

/*
  Alignment
--------------------------------- */
/*
  <div class="olex" data-align="center">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item" data-align="end middle">C</div>
  </div>
*/

.olex {
  &[data-align~="start"] {
    justify-content: flex-start;
  }

  &[data-align~="center"] {
    justify-content: center;
  }

  &[data-align~="end"] {
    justify-content: flex-end;
  }

  &[data-align~="justify"] {
    justify-content: space-between;
  }

  &[data-align~="top"] {
    align-items: flex-start;
  }

  &[data-align~="middle"] {
    align-items: center;
  }

  &[data-align~="bottom"] {
    align-items: flex-end;
  }

  &__item {
    &[data-align~="start"] {
      align-items: flex-start;
    }

    &[data-align~="center"] {
      align-items: center;
    }

    &[data-align~="end"] {
      align-items: flex-end;
    }

    &[data-align~="top"] {
      justify-content: flex-start;
      align-self: stretch;
    }

    &[data-align~="middle"] {
      justify-content: center;
      align-self: stretch;
    }

    &[data-align~="bottom"] {
      justify-content: flex-end;
      align-self: stretch;
    }
  }
}

/*
  Grid
--------------------------------- */
/*
  <div class="olex" data-gutter="normal">
    <div class="olex__item" data-grid="sp12 tab4 lap6">A</div>
    <div class="olex__item" data-grid="sp6 tab4 lap3">B</div>
    <div class="olex__item" data-grid="sp6 tab4 lap3">C</div>
  </div>
*/
.olex {
  $this: &;
  &[data-gutter] {
    width: auto;

    & > #{$this}__item {
      border: solid transparent;
      background-clip: padding-box;
    }
  }

  @each $device, $breakpoint in $breakpoints {
    @media screen and (min-width: $breakpoint) {
      $ratio: 2.5;

      @if $breakpoint >= 768 {
        $ratio: 1.5;
      }
      @if $breakpoint >= 1024 {
        $ratio: 1;
      }

      @each $size, $val in $gutters {
        &[data-gutter="#{$size}"] {
          margin: -($val * $ratio / 2);

          & > #{$this}__item {
            border-width: ($val * $ratio / 2);
          }
        }
      }

      &__item {
        @for $i from 1 through $column {
          &[data-grid~="#{$device + $i}"] {
            width: percentage($i / $column);
          }
        }

        &[data-grid~="#{$device}Five"] {
          width: 20%;
        }

        &[data-grid~="#{$device}Auto"] {
          width: auto;
        }
      }
    }
  }
}
