/*! olex v2.0.0| MIT License | https://github.com/hilosiva/olexcss */
/* ============================================
  Olex - Ore no Flexible CSS Grid System
============================================ */
/*
 Settings
--------------------------------- */
/*
  Base
--------------------------------- */
/*
  <div class="olex">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item">C</div>
  </div>
*/
.olex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.olex__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

/*
  Direction
--------------------------------- */
/*
  <div class="olex" data-dir="reverse">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item">C</div>
  </div>
*/
.olex[data-dir="normal"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.olex[data-dir="reverse"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/*
  Alignment
--------------------------------- */
/*
  <div class="olex" data-align="center">
    <div class="olex__item">A</div>
    <div class="olex__item">B</div>
    <div class="olex__item" data-align="end middle">C</div>
  </div>
*/
.olex[data-align~="start"] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.olex[data-align~="center"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.olex[data-align~="end"] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.olex[data-align~="justify"] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.olex[data-align~="top"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.olex[data-align~="middle"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.olex[data-align~="bottom"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.olex__item[data-align~="start"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.olex__item[data-align~="center"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.olex__item[data-align~="end"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.olex__item[data-align~="top"] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.olex__item[data-align~="middle"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.olex__item[data-align~="bottom"] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*
  Grid
--------------------------------- */
/*
  <div class="olex" data-gutter="normal">
    <div class="olex__item" data-grid="sp12 tab4 lap6">A</div>
    <div class="olex__item" data-grid="sp6 tab4 lap3">B</div>
    <div class="olex__item" data-grid="sp6 tab4 lap3">C</div>
  </div>
*/
.olex[data-gutter] {
  width: auto;
}

.olex[data-gutter] > .olex__item {
  border: solid transparent;
  background-clip: padding-box;
}

.olex[data-gutter="small"] {
  margin: -4px;
}

.olex[data-gutter="small"] > .olex__item {
  border-width: 4px;
}

.olex[data-gutter="normal"] {
  margin: -8px;
}

.olex[data-gutter="normal"] > .olex__item {
  border-width: 8px;
}

.olex[data-gutter="large"] {
  margin: -24px;
}

.olex[data-gutter="large"] > .olex__item {
  border-width: 24px;
}

.olex[data-gutter="spNone"] {
  margin: 0;
}

.olex[data-gutter="spNone"] > .olex__item {
  border-width: 0;
}

.olex__item[data-grid~="sp1"] {
  width: 8.33333%;
}

.olex__item[data-grid~="sp2"] {
  width: 16.66667%;
}

.olex__item[data-grid~="sp3"] {
  width: 25%;
}

.olex__item[data-grid~="sp4"] {
  width: 33.33333%;
}

.olex__item[data-grid~="sp5"] {
  width: 41.66667%;
}

.olex__item[data-grid~="sp6"] {
  width: 50%;
}

.olex__item[data-grid~="sp7"] {
  width: 58.33333%;
}

.olex__item[data-grid~="sp8"] {
  width: 66.66667%;
}

.olex__item[data-grid~="sp9"] {
  width: 75%;
}

.olex__item[data-grid~="sp10"] {
  width: 83.33333%;
}

.olex__item[data-grid~="sp11"] {
  width: 91.66667%;
}

.olex__item[data-grid~="sp12"] {
  width: 100%;
}

.olex__item[data-grid~="spFive"] {
  width: 20%;
}

@media screen and (min-width: 768px) {
  .olex[data-gutter="small"] {
    margin: -4px;
  }
  .olex[data-gutter="small"] > .olex__item {
    border-width: 4px;
  }
  .olex[data-gutter="normal"] {
    margin: -12px;
  }
  .olex[data-gutter="normal"] > .olex__item {
    border-width: 12px;
  }
  .olex[data-gutter="large"] {
    margin: -24px;
  }
  .olex[data-gutter="large"] > .olex__item {
    border-width: 24px;
  }
  .olex__item[data-grid~="tab1"] {
    width: 8.33333%;
  }
  .olex__item[data-grid~="tab2"] {
    width: 16.66667%;
  }
  .olex__item[data-grid~="tab3"] {
    width: 25%;
  }
  .olex__item[data-grid~="tab4"] {
    width: 33.33333%;
  }
  .olex__item[data-grid~="tab5"] {
    width: 41.66667%;
  }
  .olex__item[data-grid~="tab6"] {
    width: 50%;
  }
  .olex__item[data-grid~="tab7"] {
    width: 58.33333%;
  }
  .olex__item[data-grid~="tab8"] {
    width: 66.66667%;
  }
  .olex__item[data-grid~="tab9"] {
    width: 75%;
  }
  .olex__item[data-grid~="tab10"] {
    width: 83.33333%;
  }
  .olex__item[data-grid~="tab11"] {
    width: 91.66667%;
  }
  .olex__item[data-grid~="tab12"] {
    width: 100%;
  }
  .olex__item[data-grid~="tabFive"] {
    width: 20%;
  }
  .olex__item[data-grid~="tabAuto"] {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .olex[data-gutter="small"] {
    margin: -8px;
  }
  .olex[data-gutter="small"] > .olex__item {
    border-width: 8px;
  }
  .olex[data-gutter="normal"] {
    margin: -16px;
  }
  .olex[data-gutter="normal"] > .olex__item {
    border-width: 16px;
  }
  .olex[data-gutter="large"] {
    margin: -32px;
  }
  .olex[data-gutter="large"] > .olex__item {
    border-width: 32px;
  }
  .olex__item[data-grid~="lap1"] {
    width: 8.33333%;
  }
  .olex__item[data-grid~="lap2"] {
    width: 16.66667%;
  }
  .olex__item[data-grid~="lap3"] {
    width: 25%;
  }
  .olex__item[data-grid~="lap4"] {
    width: 33.33333%;
  }
  .olex__item[data-grid~="lap5"] {
    width: 41.66667%;
  }
  .olex__item[data-grid~="lap6"] {
    width: 50%;
  }
  .olex__item[data-grid~="lap7"] {
    width: 58.33333%;
  }
  .olex__item[data-grid~="lap8"] {
    width: 66.66667%;
  }
  .olex__item[data-grid~="lap9"] {
    width: 75%;
  }
  .olex__item[data-grid~="lap10"] {
    width: 83.33333%;
  }
  .olex__item[data-grid~="lap11"] {
    width: 91.66667%;
  }
  .olex__item[data-grid~="lap12"] {
    width: 100%;
  }
  .olex__item[data-grid~="lapFive"] {
    width: 20%;
  }
  .olex__item[data-grid~="lapAuto"] {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .olex[data-gutter="small"] {
    margin: -8px;
  }
  .olex[data-gutter="small"] > .olex__item {
    border-width: 8px;
  }
  .olex[data-gutter="normal"] {
    margin: -20px;
  }
  .olex[data-gutter="normal"] > .olex__item {
    border-width: 20px;
  }
  .olex[data-gutter="large"] {
    margin: -40px;
  }
  .olex[data-gutter="large"] > .olex__item {
    border-width: 40px;
  }
  .olex__item[data-grid~="desk1"] {
    width: 8.33333%;
  }
  .olex__item[data-grid~="desk2"] {
    width: 16.66667%;
  }
  .olex__item[data-grid~="desk3"] {
    width: 25%;
  }
  .olex__item[data-grid~="desk4"] {
    width: 33.33333%;
  }
  .olex__item[data-grid~="desk5"] {
    width: 41.66667%;
  }
  .olex__item[data-grid~="desk6"] {
    width: 50%;
  }
  .olex__item[data-grid~="desk7"] {
    width: 58.33333%;
  }
  .olex__item[data-grid~="desk8"] {
    width: 66.66667%;
  }
  .olex__item[data-grid~="desk9"] {
    width: 75%;
  }
  .olex__item[data-grid~="desk10"] {
    width: 83.33333%;
  }
  .olex__item[data-grid~="desk11"] {
    width: 91.66667%;
  }
  .olex__item[data-grid~="desk12"] {
    width: 100%;
  }
  .olex__item[data-grid~="deskFive"] {
    width: 20%;
  }
  .olex__item[data-grid~="deskAuto"] {
    width: auto;
  }
}
